@font-face {
  font-family: 'DINOT';
  src: url('DINOT-CondBlackIta.otf')
}

body {
  background: #A7A9AC;
}
body svg {
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 10px 20px;
  background-color: white;
}
